@import './../../index.scss';

.tour{
    background-color: $mainGrey;
    border-radius: 0.8rem;
    margin: 1rem 0;
    
    
    .img-container{
        position: relative;

        img{
            width: 100%;
            border-top-left-radius: 0.8rem;
            border-top-right-radius: 0.8rem;
            display: block;
        }

        .close-btn{
            position: absolute;
            display: block;
            top: 5%;
            right: 5%;
            color: $mainGreen;
            font-size: 2rem;
            cursor: pointer;
            transition: all 0.3s linear;
            opacity: 0;
        }

        &:hover {
            .close-btn {
                opacity: 1;
            }
        }
    }

    .tour-info{
        padding: 10px;
        h3 {
            text-transform: uppercase;
            color: $mainGreen;
        }
    
        h4{
            text-transform: capitalize;
            color: $mainBlack;
            margin: 0.2rem 0 0.3rem 0;
        }
        h5{

            text-transform: capitalize;
            font-size: 1.2rem;
    
            span{
                display: inline-block;
                color: $mainGreen;
                text-align: center;
                vertical-align: middle;
                margin: auto 0.5rem;
                font-size: 1.3rem;
                cursor: pointer;
            }
        }
    }
}